Source: fuzzel
Maintainer: ezequiel <ezequieldtz@tuta.io>
Section: utils
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13), meson, pkg-config, libwayland-dev, libpixman-1-dev, libfreetype6-dev, libfontconfig1-dev

Package: fuzzel
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: App launcher and fuzzy finder for Wayland
 Fuzzel is an application launcher and fuzzy finder for Wayland,
 inspired by rofi(1) and dmenu(1).
